<div class="d-flex flex-column">
    <div class="container d-flex justify-content-between p-4 flex-row mt-5">
            <div class="shadow bg-white p-3" style="border-radius: 2rem;">
                <mat-icon class="align-center">search</mat-icon>
                <span class="fs-5">Search Movies...</span>
            </div>
            <div><a routerLink="/trending" class="btn btn-warning shadow p-3">Trending!</a></div>
    </div>
    <div class="container-xl">
        <app-movie-list [movies]="movieData"></app-movie-list>
    </div>
</div>